*
{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif Georgia
}

body
{
    margin: 0;
    /*background-color: rgba(20, 37, 61, 1);*/
}

header
{
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-right: 0;
    /*border-bottom: 4px solid #08629d;*/
    
    
    background-color: rgba(20, 37, 61, 1);
    /*
    -webkit-box-shadow: 0px 10px 13px -7px #000000, -2px -26px 6px 42px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, -2px -26px 6px 42px rgba(0,0,0,0);
    -webkit-box-shadow: 0px 10px 13px -7px #000000, inset -50px 13px 27px 50px rgba(145,145,145,0); 
    box-shadow: 0px 10px 13px -7px #000000, inset -50px 13px 27px 50px rgba(145,145,145,0);
    */
}

header .logo
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 15px;
    height: 70px;

}

header .logo img
{
    width: 60px;
    border-radius: 8px;
}

header .navbar
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    text-decoration: none;
    gap: 20px;
}

header .navbar .navtool
{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    background-color: rgba(94, 149, 125, 1);
    transition: 0.5s;
}

header .navbar .navtool:hover
{
    background-color: rgb(86, 117, 104, 1);
}


header .navbar .navtool a
{
    margin: 0px;
    padding: 10px;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 8px;
}