/*
____________________________________________________________________________________________________________________________________
    Genarel Css for the main
*/
*
{
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif
}

main
{
    display: flex;
    flex-direction: column;
    /*
    justify-content: space-between;
    margin-top: 0;
    margin-right: 0;
    */

}

button a
{
    display: block;
    width: 100%;
}

main li #audioDownloadButton
{
    display: block;
    width: 100%;
}

.wide
{
    float: left;
    background-color: aqua;
}

.downloaduttons
{
    display: block;
    width: 100%;
}

#audioDownloadButton
{
    /*width: 1543px;*/
    background-color: crimson;
    width: 100%;

}

#audioText
{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    height: 500px;
    text-align: center;
}

#audioWiedergabe
{
    flex: 1;
    background-color: blanchedalmond;
    height: 250px;
    text-align: center;
}

a
{
    text-decoration: none;
    color: inherit;

}

section
{
    background-color: white;
}

#linkeHaelfte
{
    background-color: blue;
    display: flex;
    flex-direction: row;
}

#rechteHaelfte
{
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
}
/*
____________________________________________________________________________________________________________________________________
    Css for the Home page
*/
.home
{
    margin: 0px;
}
.backgroundPicture 
{
    position: relative;
    text-align: center;
}
.backgroundPicture img
{
    width: 100%;
}

.backgroundPicture p
{
    font-size: 80px;
    position: absolute;
    top: 8px;
    left: 16px;
}

/*
____________________________________________________________________________________________________________________________________
    Css for the Product page
*/
.product
{
    margin: 0px;  
    display: flex; 
    flex-direction: row;
}
.bild img
{
    width: 360px;
}


/*
____________________________________________________________________________________________________________________________________
    Css for the About us page

.about_us
{
    margin: 0px;    
}
*/
.aboutUsList ul
{
    text-decoration: none;
}

.aboutUsList li 
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.aboutUsList li img
{
    width:  50px;
}

.aboutUsList li p
{
    margin-left: 20px;
}

/*
____________________________________________________________________________________________________________________________________
    Css for the Map page
*/
.karte
{
    position: relative;
    text-align: center;
}

.karte embed
{
    width: 100%;
}

.karte .invisibleSquare
{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgba(129, 9, 9, 0.605);
}

.karte .invisibleSquare:before 
{
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}
  

.karte .invisibleSquare:hover:before
{
    opacity: 1;
    visibility: visible;
}

/*
____________________________________________________________________________________________________________________________________
    Css for the Downloads page
*/